@charset "UTF-8";

.flex{
    display: flex;
    justify-content: center;
}

.box{
    border-radius: 10px;
    display:inline-block;
    padding: 0 15px;
    margin-left: 30px;
    line-height: 50px;
    cursor: pointer;
}

.box:first-child{
    margin-left: 0;
}

.red-box{
    background: #fd0f0fd9;
    color: #fff;
}

.blue-box{
    background: #170ffdd9;
    color: #fff;
}

.green-box{
    background: #0ffd0fd9;
    color: #000;
}

.red-shadow{
    box-shadow: 0 5px 0 0 rgba(63, 5, 5, 0.851);
}

.blue-shadow{
    box-shadow: 0 5px 0 0 rgba(5, 13, 63, 0.851);
}

.green-shadow{
    box-shadow: 0 5px 0 0 rgba(5, 63, 5, 0.851);
}

.red-push{
    background: #fd0f0fd9;
    color: #fff;
}

.blue-push{
    background: #170ffdd9;
    color: #fff;
}

.green-push{
    background: #0ffd0fd9;
    color: #000;
}

.red-push:active {
    transform: translateY(5px);
    box-shadow: none;
}

.blue-push:active {
    transform: translateY(5px);
    box-shadow: none;
}

.green-push:active {
    transform: translateY(5px);
    box-shadow: none;
}

.double-box{
    border: double 4px #67c5ff;
    color: #67c5ff;
}

.dotted-box{
    border: dotted 4px #75caff;
    color: #67c5ff;
}

.dashed-box{
    border: dashed 4px #67c5ff;
    background: #d0edfff8;
    color: #0079a5f8;
}

div.double-box:hover{
    background: #fffbef;
}

div.dotted-box:hover{
    border: dashed 4px #75caff;
}

div.dashed-box:hover{
    background: #ffffff;
    color: #67c5ff;
}