@charset "UTF-8";


.balloon{
  width: 500px;
  padding: 20px;
  font-size: 16px;
  border: solid 5px #8f5a0a;
  background: #fad296;
  border-radius: 30px;
  line-height: 16px;
  margin: 0 auto;
  position: relative;
}

.balloon:before {
  content: "";
  position: absolute;
  bottom: -36px;
  left: 50%;
  margin-left: -238px;
  border: 18px solid transparent;
  border-top: 18px solid #fad296;
  z-index: 2;
}

.balloon:after {
  content: "";
  position: absolute;
  bottom: -45px;
  left: 50%;
  margin-left: -240px;
  border: 20px solid transparent;
  border-top: 20px solid #8f5a0a;
  z-index: 1;
}