@charset "UTF-8";

.bg1{
    height: 500px;
    background-image: url(../../image/coffee-background.jpg);
}

.bg2{
    height: 500px;
    background-image: url(../../image/coffee-background.jpg);
    background-repeat: no-repeat;
}

.bg3{
    height: 500px;
    width: auto;
    background-image: url(../../image/coffee-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg4{
    height: 500px;
    background-image: url(../../image/coffee-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}